/** base **/
.cir {
  border-radius: 50%; }

.color-green {
  color: #48C23D; }

.padding {
  padding: 50rpx; }

.row-title {
  font-size: 28rpx;
  color: #aaa;
  padding: 10rpx 0;
  padding-top: 28rpx; }

.row-desc {
  text-indent: 56rpx;
  line-height: 1.6;
  padding-bottom: 56rpx;
  border-bottom: 1px #eee solid; }

button {
  margin-bottom: 18rpx; }
