doctype html
html(lang="en")
	head
		title= pageTitle
		script(src='/js/jquery.min.js')
		link(rel='stylesheet', href='/css/normalize.css')
		link(rel='stylesheet', href='/css/semantic.min.css')
		link(rel='stylesheet', href='/css/style.css')
		script(src='/js/semantic.min.js')
		script(src='/js/socket.io-1.4.5.js')
		script(src='/js/client.js')
		meta(name='viewport', content='width=device-width, initial-scale=1')
	body
