.ui.sidebar.inverted.vertical.menu
	a.item(href="/") WeApp Menu
	.item
		.header 狀態
		.menu
			a.item(href='/qr') QR 登入
			a.item(href='/logout') 登出
	.item
		.header 用戶
		.menu
			a.item(href='/center') 用戶
			a.item(href='/logout') 資料編輯
			a.item(href='/logout') 視頻
			a.item(href='/logout') 自選文章
	.item
		.header 小組
		.menu
			a.item(href='/logout') 小組編輯
			a.item(href='/logout') 成員管理
	a.item(href="/admin") 管理員
	.item
		.header Session
		.menu
			a.item(href='/login')
				| Login
			a.item(href='/dashboard')
				| home
	if !isLogin
		.item
			.header Article
			.menu
				a.item(href='/dashboard/article/post') Post
				a.item(href='/dashboard/article/manage') Manage
		.item
			.header User
			.menu
				a.item(href='/dashboard/user/net') Net
				a.item(href='/dashboard/user/data') User Data
				a.item(href='/dashboard/user/invite') Invite
		.item
			.header System
			.menu
				a.item(href='/logout') Logout

.ui.menu.secondary
	a.item#openMenu
		i.sidebar.icon
		| Menu
