.ui.sidebar.inverted.vertical.menu
	a.item(href="/") WeApp Menu
	.item
		.header 狀態
		.menu
			a.item(href='/qr') QR 登入
			a.item(href='/logout') 登出
	.item
		.header 用戶
		.menu
			a.item(href='/user/center') 資料編輯
			a.item(href='/logout') 視頻
	.item
		.header 小組
		.menu
			a.item(href='/logout') 小組編輯
			a.item(href='/logout') 成員管理
	.item
		.header 系統
		.menu
			a.item(href='/user/invite') 邀請碼
