include include/head
include include/menu
#Login.padding
	form.ui.form(class=typeof isError==true ? "good" : "error",method="post",action="/login")
		.ui.grid
			.ten.wide.column
				h1.ui.header
					| WeApp
					.sub.header Dashboard
				h4.ui.dividing.header Login Form
				if isError
					.ui.error.message
						.header Action Forbidden
						p 錯誤的賬戶或者密碼
				.field
					label User
					input(type='text', name='name', placeholder='Name')
				.field
					label Password
					input(type='password', name='password', placeholder='Password')
				button.ui.primary.button(type='submit') Submit
