include include/head
include include/menu
.ui.container
	.ui.menu.secondary
		a.item#openMenu
			i.sidebar.icon
			| Menu


	.area
		h1.ui.header.color-green 极客吐司
			.sub.header 小程序
		p 一个内嵌在微信的简历小插件
