include include/head
include include/menu
.ui.container


	.area
		.ui.grid
			.sixteen.wide.column
				h3.ui.header 生成邀請碼
			.ten.wide.column
				p - 用於生成用戶邀請碼
			.six.wide.column.text-right
				button.ui.button.basic.positive(type='submit') 生成
			.ten.wide.column
				h3.ui.header 邀請碼
			.six.wide.column.text-right
				.ui.slider.checkbox
					input(type='checkbox', name='newsletter')
					label 顯示已經使用的


			table.ui.celled.table.font-min
				thead
					tr
						th
							| 生成時間
						th(colspan="2")
							| 邀請碼
				tbody
					tr
						td.collapsing 2017年01月17日 23:31:29
						td 8cde59a4-c7a0-4890-be0f-f0cadfd9131b
						td.right.aligned.collapsing 未使用
					tr
						td.collapsing 2017年01月17日 23:31:29
						td 8cde59a4-c7a0-4890-be0f-f0cadfd9131b
						td.right.aligned.collapsing 未使用
