include include/head
include include/menu
#post.padding.maxw
	.ui.secondary.menu
		.item.color-green Post
		.right.menu
			a.item 预览
			a.item 发表

	.area
		.ui.form
			.field
				label Title
				input(type='text', name='Title', placeholder='Title')
			.field
				label Category
				.ui.selection.dropdown
					input(type='hidden', name='gender')
					i.dropdown.icon
					.default.text Category
					.menu
						.item(data-value='1') Talk
						.item(data-value='0') Now
						.item(data-value='2') Jam
			.field
				label Markdown
				textarea.minh
			p time now
