include include/head
include include/menu
.padding.maxw
	.ui.secondary.menu
		.item.color-green 二維碼登錄
		.right.menu
			//- a.item 预览
			//- a.item 发表

	.area.text-center
		a(href=qrurl)
			img(src="/image/qr")
