doctype html
html(lang="en")
	head
		title= pageTitle
		link(rel='stylesheet', href='/css/base-min.css')
		link(rel='stylesheet', href='/css/pure-min.css')
		link(rel='stylesheet', href='/css/style.css')
		script(src='//cdn.bootcss.com/jquery/3.1.1/jquery.min.js')
		script(src='/js/socket.io-1.4.5.js')
		script(src='/js/client.js')
		meta(name='viewport', content='width=device-width, initial-scale=1')
	body
