include ./../include/head
include ./../include/menu
#Login.ui.container
	form.ui.form(class=typeof isError==true ? "good" : "error",method="post",action="/login")
		h1.ui.header.text-center
			| WeApp
			.sub.header User Dashboard
		.area
