body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1b1c1d;
  /* background: linear-gradient(to bottom, #eee, #fafafa);*/
  background-color: #fafafa; }

a {
  color: #39c560; }

.footer {
  padding: 50px;
  color: #fff !important;
  background-color: #1b1c1d; }

.hidden {
  display: none !important; }

.LoginMenu .userImage {
  border-radius: 50%;
  width: 16px !important;
  height: 16px !important;
  margin-right: 5px !important; }

.container {
  margin-top: 35px; }

.ui.secondary.menu {
  margin: 0; }

.ui.grid > table {
  padding: 0; }

.ui.table {
  border: 1px solid rgba(34, 36, 38, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); }

.font-min {
  font-size: .8em !important; }

.toc {
  position: absolute;
  left: 0;
  width: 200px;
  height: 100%;
  margin: 0 !important;
  padding: 0;
  border-radius: 0 !important; }

.area {
  margin: 0;
  margin-top: 50px;
  padding: 80px 50px;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  box-shadow: 0 20px 52px rgba(0, 0, 0, 0.18);
  border-radius: 8px;
  margin-bottom: 50px; }
  .area img {
    opacity: .9; }

.maxw {
  max-width: 900px; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.minh {
  min-height: 58vh !important; }

.padding-top {
  padding-top: 30px; }

.lh {
  line-height: 1.5em; }

.margin-top {
  margin-top: 30px; }

.padding {
  padding: 30px; }

/* type */
.b {
  font-weight: 800 !important; }

/* Color */
.color-green {
  color: #39c560 !important; }

.color-black {
  color: #303030; }

.color-gray {
  color: #aaa; }

/* flex*/
.flex {
  display: flex; }

.flex-column {
  flex-direction: column; }

.flex-row {
  flex-direction: row; }

.aitems-flex-start {
  align-items: flex-start; }

.aitems-center {
  align-items: center; }

.aitems-flex-end {
  align-items: flex-end; }

.aself-center {
  align-self: center; }

.aself-center {
  align-self: flex-end; }

.acontent-center {
  align-content: center; }

.acontent-flex-end {
  align-content: flex-end; }

.jcontent-center {
  justify-content: center; }

.jcontent-flex-end {
  justify-content: flex-end; }

.jcontent-flex-start {
  justify-content: flex-start; }
