/** page **/
page {
  background-color: #f9f8fa;
  font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif;
  color: #404040;
  font-size: 28rpx;
}

.head {
	.title {
		font-weight: 800;
		font-size: 18px;
	}
	.desciption {
		line-height: 18px;
		font-weight: 200;
		font-size: 14px;
	}
}

