// set


.form {
	input,
	textarea {
		width: 90%;
		margin: 0 auto;
	}

	.item {
		line-height: 32px;
		font-size: 12px;
		font-weight: 800;
		margin-bottom: 20px;
	}

	input {
		background-color: #fff;
		height: 40px;
		padding-left: 15px;
		padding-right: 15px;
		border-radius: 3px;
		border: 1px solid RGBA(45, 45, 45, 0.15);
		margin-top: 10px;
		margin-bottom: 20px;
	}

	input[disabled] {
		opacity: 0.2;
	}

	.switch {
		.title {
			margin-bottom: 0;
		}

		.p {
			margin-top: 4px;
		}

	}

	.button.second {

		/* Rectangle 2: */
		background: #F24885;
		box-shadow: 0 8px 12px 0 rgba(242, 72, 133, 0.24);
		border-radius: 100px;
		color: #FFF;
	}

	textarea {
		background-color: #fff;
		padding: 15px;
		border-radius: 2px;
		border: 1px solid RGBA(45, 45, 45, 0.15);
		margin-top: 10px;
		margin-bottom: 20px;
		height: 80px;
	}

	label {
		margin-top: 20px;
	}

	.title,
	.p {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.p {
		font-size: 0.8em;
	}

	button {
		margin: 0 auto;
		margin-top: 32rpx;
		margin-bottom: 32rpx;
		width: 460rpx;
		height: 84rpx;
		background: #39C560;
		box-shadow: 0 16rpx 24rpx 0 rgba(56, 197, 95, 0.48);
		border-radius: 200rpx;
		color: #fff;
		font-weight: 800;
		line-height: 84rpx;
		font-size: 12px;
	}

}
