
// base
@import 'base';
// @import 'appbox';
@import 'parse';
@import 'we';

@import 'animation';

// icon font
@import 'iconfont';
@import 'iconnetwork';

// Page
@import 'page';
@import 'page_index';
@import 'page_net';
@import 'page_discover';
@import 'page_set';
@import 'page_form';
@import 'page_other';

//common
@import 'article';

// base

.head {
  padding: 50rpx;
  padding-top: 60rpx;
  line-height: 1;
  border-bottom: 1px #eee solid;
}
